# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL= https://fgnkymynpslqpnwfsxth.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnbmt5bXlucHNscXBud2ZzeHRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3OTk3MTQsImV4cCI6MjA3MjM3NTcxNH0.Kxz8EL_R3NlNGJQUxYKzAo5lV6tSdoPt6ShHfW1B8sE


SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnbmt5bXlucHNscXBud2ZzeHRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njc5OTcxNCwiZXhwIjoyMDcyMzc1NzE0fQ.9sURdU5Jf8n0a3Vy_Jl7HBZkH9CHKZaNwKdx7_eVIkI


# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_51S2qYADlsejdTLFBUPe1oibhlCTVgCWlSSk1HB1JWdJEWLNaq6aG6DP3TQquOn0qEIbkJ9SinO8nfpjd6oagnY2u00c04bH8kv

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51S2qYADlsejdTLFBONBqnunlNOQiQM7EGGUtQHwhDe60e9RRv0C9eTDQN7GlTd2uEbofCJOMkrY67k43aN647rCS00SLtOGYM5
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# Next.js Configuration
NEXTAUTH_URL=http://localhost:3000  
NEXTAUTH_SECRET=your_nextauth_secret_key

# Application Settings
NEXT_PUBLIC_APP_URL=http://localhost:3000
